@import "tailwindcss";
@import "tw-animate-css";




@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('/fonts/helvetica-now/helveticanowtext-bold-demo.ttf') format('truetype');
  font-weight: bold; 
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('/fonts/helvetica-now/helveticanowtext-bolditalic-demo.ttf') format('truetype');
  font-weight: bold; 
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('/fonts/helvetica-now/helveticanowtext-black-demo.ttf') format('truetype');
  font-weight: 900; 
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('/fonts/helvetica-now/helveticanowtext-blackitalic-demo.ttf') format('truetype');
  font-weight: 900; 
  font-style: italic;
}
@font-face {
  font-family: 'Gestiva';
  src: url('/fonts/gestiva/Gestiva.ttf') format('truetype'),
       url('/fonts/gestiva/Gestiva.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gestiva';
  src: url('/fonts/gestiva/Gestiva Italic.ttf') format('truetype'),
       url('/fonts/gestiva/Gestiva Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica Now Text', Arial, Helvetica, sans-serif;
}


@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --font-gestiva: 'Gestiva';
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

.hero-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; 
}

.hero-title {
  position: absolute;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Gestiva', serif;
  font-weight: bold;
  font-size: 12rem;
  color: white;
  line-height: 1em;
  kerning: .8;
  white-space: nowrap;
}

.hero-title-bottom {
  z-index: 1;
}


.hero-title-top {
  z-index: 3;
  mix-blend-mode: overlay;
}


.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
  filter: grayscale(100%); 
  opacity: 0.1; 
}

.hero-content {
  position: relative; 
  z-index: 2; 
  color: white; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  height: 100%; 
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .875);
  background-image: linear-gradient(45deg, rgba(0,0,0,0.05) 25%, transparent 25%, transparent 75%, rgba(0,0,0,0.05) 75%, rgba(0,0,0,0.05)),
                    linear-gradient(-45deg, rgba(0,0,0,0.05) 25%, transparent 25%, transparent 75%, rgba(0,0,0,0.05) 75%, rgba(0,0,0,0.05));
  background-size: 10px 10px;
  z-index: 0; 
}

.hero-modal-video-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* border: 2px solid white;  */
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
  width: 75%;
  z-index: 2;
  transform-origin: center;
}

.hero-modal-video {
  display: block; /* removes extra space below video */
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 6px; /* slightly less than container to avoid border overlap issues */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.filter-white {
  filter: brightness(0) invert(1);
}


.financing-item-container .hover-heading {
  font-family: 'Gestiva';
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.financing-item-container:hover .hover-heading {
  transform: translateX(10px);
}

.financing-card {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
}

.animated-text-word {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.next-gen-title {
  font-family: 'Gestiva', serif;
  font-weight: normal;
  font-size: 4rem;
}

.financing-item-id {
  position: relative;
  font-size: 6rem;
  line-height: 1;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  margin-left: 2rem;
}

.financing-item-id .gradient-text {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.financing-item-id .solid-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  color: #a0a0a0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.financing-item-container:hover .financing-item-id .solid-text {
  height: 100%;
}


.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.3);
}

.financing-item-container {
  position: relative;
  overflow: hidden;
}

@keyframes image-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-fade-in {
  animation: image-fade-in 0.5s ease-in-out;
}
